.p_about {
  padding-bottom: 6.25rem;
  background-color: var(--color-white);
}
.p_about-photo {
  margin-top: 90px;
  height: 70vh;
  background-image: url(../img/About_Studio_McGee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.p_about-header {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p_about-header .heading-secondary {
  padding-top: 1rem;
  width: 60%;
  text-align: center;
  color: var(--color-dark-2);
  font-size: 2.9rem;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.1;
}
.p_about-header .heading-secondary span {
  font-style: italic;
  text-transform: capitalize;
}
.p_about-container h3 {
  text-align: center;
  font-size: 17px;
  letter-spacing: 3.11px;
  background-color: var(--bg-light);
  padding: 2rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.tabs-list {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--border-color);
}

.year a {
  color: var(--color-dark-2);
}
.year a.active {
  border-bottom: 2px solid var(--color-gray);
}

.tab-content.hidden {
  display: none;
}

.p_about-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.p_about-text {
  width: 55%;
  padding: 1rem 0 0 1rem;
}
.p_about-text .heading-secondary {
  letter-spacing: -1px;
  padding: 0.8rem 0;
}
.p_about-text .btn {
  margin-top: 2rem;
}
.p_about-img {
  width: 45%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.p_about-img--1 {
  background-image: url(../img/About_tab1.jpg);
}
.p_about-img--2 {
  background-image: url(../img/About_tab2.jpg);
}
.p_about-img--3 {
  background-image: url(../img/About_tab3.jpg);
}
.p_about-img--4 {
  background-image: url(../img/About_tab4.jpg);
}
.p_about-img--5 {
  background-image: url(../img/About_tab5.jpg);
}

@media (max-width: 978px) {
  .p_about-photo {
    height: 50vh;
  }
  .p_about-box {
    flex-direction: column;
  }
  .p_about-text {
    width: 100%;
  }
  .p_about-text .heading-secondary {
    padding: 2rem 0 0.8rem 0;
  }
  .p_about-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .p_about-header {
    padding: 3rem 0;
  }
  .p_about-header .heading-secondary {
    font-size: 2.5rem;
  }
}
@media (max-width: 568px) {
  .p_about-img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .p_about-text {
    padding: 0;
  }
  .p_about-text .heading-secondary {
    padding: 1rem 0 0.8rem 0;
  }
  .p_about-header {
    padding: 2rem 0;
  }
  .p_about-header .heading-secondary {
    font-size: 2rem;
  }
  .p_about-text .heading-secondary {
    font-size: 2.3rem;
    padding-top: 2rem;
  }
  .p_about {
    padding-bottom: 4.25rem;
  }
}
@media (max-width: 356px) {
  .p_about-header .heading-secondary {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
  .p_about-text .heading-secondary {
    font-size: 2rem;
    text-align: center;
  }
}
