:root {
  --color-primary: #897b74;
  --color-primary-light: #9a8e88;

  --color-dark: #292929;
  --color-dark-2: #3f3f3f;

  --color-white: #ffffff;
  --color-light: #eae5e0;
  --color-light-2: #ddd7d0;

  --button-color: #eae5e0;
  --button-light: #f4f2f0;
  --button-dark: #4b4b4b;

  --bg-dark: #303030;
  --bg-light: #faf9f7;
  --bg-light-2: #f3f2eb;
  --bg-light-3: #f8f7f3;

  --border-color: #eae5e0;

  --color-gray: #737373;

  --success-color: #c7f9cc;
  --error-color: #fb4141;

  --fs-large: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;

  --font-serif: 'Nanum Myeongjo', serif;
  --font-sans-serif: 'Questrial', sans-serif;

  --spacing-xl: 2.625rem;
  --spacing-large: 1.75rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-sans-serif);
  color: var(--color-dark);
  background-color: var(--color-white);
  font-weight: 400;
  line-height: 1.6;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  display: block;
  text-decoration: none;
}
/* reusable classes */
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.center-text {
  text-align: center;
}
.subheading {
  letter-spacing: 0.8px;
  font-size: 13px;
  text-transform: uppercase;
}
.heading-secondary {
  color: var(--color-primary);
  text-transform: capitalize;
  line-height: 1.2;
  font-size: 45px;
}
.main-paragraph {
  font-size: 1rem;
  letter-spacing: 0.6px;
  margin-top: 0.7rem;
}
/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--button-color);
  letter-spacing: 3.2px;
  color: var(--color-dark);
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--button-light);
}
/* right icon */
.chevron-right-icon {
  vertical-align: middle;
  color: var(--color-primary);
}
/* Social Links */
.social-links {
  display: flex;
  gap: 2rem;
}
.social-link {
  font-size: 13px;
  transition: all 0.3s;
}
.social-link--light {
  color: var(--color-light);
}
.social-link--light:hover {
  color: var(--color-white);
}
.social-link--dark {
  color: var(--color-primary);
}
.social-link--dark:hover {
  color: var(--color-primary-light);
}
.social-icon {
  font-size: 1.5rem;
}

/* ......................... */
/* ....... NAVIGATION .......*/
/* ......................... */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 var(--spacing-xl);
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: var(--color-white);
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
.navigation__logo {
  width: 14rem;
  min-width: 11rem;
  display: flex;
  margin-right: 1rem;
}
.navigation__logo img {
  width: 100%;
}
.navigation__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__link {
  font-size: 13px;
  letter-spacing: 2.4px;
  color: var(--color-dark);
  text-transform: uppercase;
  margin-left: 2rem;
}
.navigation__link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
.menu-icon div {
  width: 23px;
  height: 2.5px;
  background-color: var(--color-dark);
  opacity: 0.8;
  margin: 3px;
  transition: all 0.2s ease;
}
.close-icon .line1 {
  transform: rotate(-45deg) translate(-2px, 6px);
}
.close-icon .line2 {
  opacity: 0;
}
.close-icon .line3 {
  transform: rotate(45deg) translate(-2px, -6px);
}
.navigation__menu .social-links {
  display: none;
}
/* ......................... */
/* ......... FOOTER .........*/
/* ......................... */

footer {
  background-color: var(--bg-dark);
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.footer__nav > *:not(:last-child) {
  padding-bottom: 1.5rem;
}
.footer__logo {
  width: 20rem;
  padding-top: 10px;
  /* margin-bottom: 1rem; */
}
.footer__logo .logo {
  width: 100%;
}
.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-link:link,
.footer-link:visited {
  color: var(--color-light-2);
  text-transform: uppercase;
  font-size: 0.9rem;

  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: var(--color-white);
}
.footer__copyright {
  border-top: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  color: var(--color-light-2);
  opacity: 0.8;
  font-size: 0.9rem;
}
/* ......................... */
/* ...... MEDIA QUERY .......*/
/* ......................... */
@media (max-width: 978px) {
  .navigation {
    padding: 0 1rem;
  }

  .navigation__link {
    font-size: 12px;
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  .navigation {
    transition: transform 0.5s ease-in;
  }
  .navigation__menu {
    background-color: var(--color-light);
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 4;
    width: 70%;
    height: 100vh;
    /* is going to move it off the screen */
    transform: translateX(100%);

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 0;
  }
  .navigation__item {
    margin-bottom: 1rem;
  }
  .navigation__link {
    font-size: 14px;
  }
  .menu-icon {
    display: block;
  }
  .navigation__menu.nav-active {
    transform: translateX(0);
    transition: all 0.5s ease-out;
  }
  .navigation__menu .social-links {
    display: flex;
    padding-top: 5rem;
  }
}
@media (max-width: 568px) {
  .footer__logo {
    width: 18rem;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .navigation__menu .social-links {
    gap: 1rem;
  }
  .container {
    padding: 0 1rem;
  }
}
