.projects-content {
  text-align: center;
  margin-top: 5rem;
  padding: 5rem 0 2.5rem 0;
}
.projects-content h1 {
  color: rgba(41, 41, 41, 1);
  font-size: 60px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.1;
  text-transform: capitalize;
  padding-top: 1rem;
}
.projects-content .subheading {
  color: rgba(137, 123, 116, 1);
  letter-spacing: 0.11rem;
  font-size: 13.5px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: 'Questrial';
  font-weight: 400;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  min-width: 350px;
}
.projects .projects--card-wrapper {
  width: calc(100% / 2);
  padding: 1rem;
}
.projects--card-wrapper .projects-list__image {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  border: 0.7rem solid #fff;
  outline: 0.9px solid rgb(234, 229, 224);
}

.project-details {
  display: flex;
  flex-direction: column;
  padding-left: 0.9rem;
}
.project-details .subheading {
  font-size: 10px;
  letter-spacing: 0.11rem;
}
.project-details h4 {
  color: rgba(41, 41, 41, 1);
  font-size: 37px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.1;
  text-transform: capitalize;
  padding: 0.7rem 0 1rem 0;
}
.projects--card-wrapper .projects-list__image:hover {
  opacity: 0.8;
}
@media (min-width: 1920px) {
  .projects-content {
    text-align: center;
    margin-top: 5rem;
    padding: 8rem 0 4rem 0;
  }
}
@media (max-width: 978px) {
  .projects-content h1 {
    font-size: 50px;
    padding-top: 1rem;
  }
  .projects-content .subheading {
    letter-spacing: 0.11rem;
    font-size: 12px;
  }
  .project-details h4 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .projects-content {
    text-align: center;
    margin-top: 5rem;
    padding: 3.5rem 0 1rem 0;
  }
  .projects .projects--card-wrapper {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .projects-content {
    padding: 3rem 2rem 0 2rem;
  }
  .projects-content h1 {
    font-size: 45px;
    letter-spacing: -1px;
    text-transform: capitalize;
    padding-top: 1rem;
  }
  .projects-content .subheading {
    color: rgba(137, 123, 116, 1);
    letter-spacing: 0.08rem;
    font-size: 12px;
    line-height: 1.4;
  }
}
